In [5]:
COLUMNS_REMUNERACAO = [u'REMUNERAÇÃO BÁSICA BRUTA (R$)',
                                                    u'REMUNERAÇÃO BÁSICA BRUTA (U$)',
                                                                  u'ABATE-TETO (R$)',
                                                                  u'ABATE-TETO (U$)',
                                                       u'GRATIFICAÇÃO NATALINA (R$)',
                                                       u'GRATIFICAÇÃO NATALINA (U$)',
                                         u'ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)',
                                         u'ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)',
                                                                      u'FÉRIAS (R$)',
                                                                      u'FÉRIAS (U$)',
                                               u'OUTRAS REMUNERAÇÕES EVENTUAIS (R$)',
                                               u'OUTRAS REMUNERAÇÕES EVENTUAIS (U$)',
                                                                        u'IRRF (R$)',
                                                                        u'IRRF (U$)',
                                                                    u'PSS/RPGS (R$)',
                                                                    u'PSS/RPGS (U$)',
                                                              u'PENSÃO MILITAR (R$)',
                                                              u'PENSÃO MILITAR (U$)',
                                                              u'FUNDO DE SAÚDE (R$)',
                                                              u'FUNDO DE SAÚDE (U$)',
                                                             u'DEMAIS DEDUÇÕES (R$)',
                                                             u'DEMAIS DEDUÇÕES (U$)',
                                      u'REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)',
                                      u'REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)',
         u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)',
         u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)',
       u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)',
       u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)',
                                           u'TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)',
                                           u'TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)',]

In [6]:
import pandas as pd
%matplotlib inline
pd.options.display.max_columns = None
pd.options.display.max_rows = None
import codecs

## remove null characters

In [7]:
def remove_null(filename):
    
    out_filename = 'out_' + filename
    
    f_in = codecs.open(filename, encoding='iso-8859-1')
    f_out = codecs.open('out_' + filename, encoding='iso-8859-1', mode='w')
    for line in f_in.readlines():
        line_w_null = line.replace(u'\x00', '')
        f_out.write(line_w_null)
    f_in.close()
    f_out.close()
    
    return out_filename

## Realizar download do arquivo de servidores em http://www.portaldatransparencia.gov.br/downloads/servidores.asp#getC e extrair na raiz deste projeto

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 02C5-7B14

 Directory of C:\Users\abevi\Github\analysis-servidores-federal\notebooks

12/11/2016  17:18    <DIR>          .
12/11/2016  17:18    <DIR>          ..
12/11/2016  17:18    <DIR>          .ipynb_checkpoints
12/11/2016  17:15           185.935 1 - Remunera‡Æo.ipynb
12/11/2016  17:18           185.935 1 - Remunera‡Æo-Copy1.ipynb
12/11/2016  16:54            11.207 2 - Viagens.ipynb
12/11/2016  16:58       382.539.699 20160930_Cadastro.csv
12/11/2016  16:58       136.978.215 20160930_Remuneracao.csv
12/11/2016  16:54            19.909 3 - Nomes similares.ipynb
12/11/2016  17:01       373.613.272 out_20160930_Cadastro.csv
12/11/2016  17:01       136.978.215 out_20160930_Remuneracao.csv
               8 File(s)  1.030.512.387 bytes
               3 Dir(s)   4.185.309.184 bytes free

## indicar o nome dos arquivos

In [9]:
cadastro_filename = '20160930_Cadastro.csv'
remuneracao_filename = '20160930_Remuneracao.csv'

## Selecionar servidores da UFC

In [10]:
out_cadastro_filename = remove_null(cadastro_filename)

In [36]:
cadastro = pd.read_csv(out_cadastro_filename, sep='\t', encoding='iso-8859-1', decimal=',')
cadastro_ufc = cadastro[cadastro[u'ORG_LOTACAO'] == u'UNIVERSIDADE FEDERAL DO CEARA']
del cadastro

C:\Users\abevi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,12,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## join com remuneração

In [80]:
out_remuneracao_filename = remove_null(remuneracao_filename)

In [81]:
remuneracao = pd.read_csv(remuneracao_filename, sep='\t', encoding='iso-8859-1', decimal=',')

In [82]:
df_ufc = pd.merge(cadastro_ufc, remuneracao, left_on=u'Id_SERVIDOR_PORTAL', right_on=u'ID_SERVIDOR_PORTAL')

NameError: name 'cadastro_ufc' is not defined

In [ ]:
len(df_ufc)

In [ ]:
del remuneracao
del cadastro_ufc

## remuneração bruta - top 10

In [22]:
df_ufc.sort_values(u'REMUNERAÇÃO BÁSICA BRUTA (R$)', ascending=False)[[u'REMUNERAÇÃO BÁSICA BRUTA (R$)', u'NOME_x', u'DATA_INGRESSO_ORGAO']].head(10)

,REMUNERAÇÃO BÁSICA BRUTA (R$),NOME_x,DATA_INGRESSO_ORGAO
1978,42605.09,LUIZ BOTELHO ALBUQUERQUE,22/05/2002
2037,40947.35,HENRY DE HOLANDA CAMPOS,22/05/1997
2039,40947.35,HENRY DE HOLANDA CAMPOS,30/07/1998
2038,40947.35,HENRY DE HOLANDA CAMPOS,30/07/1998
6463,40252.16,SEBASTIAO CARNEIRO DE ALMEIDA,25/03/2002
6462,40252.16,SEBASTIAO CARNEIRO DE ALMEIDA,01/04/1973
1928,39009.86,BOANERGES FREIRE DE AQUINO,01/01/1972
1929,39009.86,BOANERGES FREIRE DE AQUINO,16/07/1998
4091,38404.45,ROSALICE NOGUEIRA ANDRADE,01/08/1985
4090,38404.45,ROSALICE NOGUEIRA ANDRADE,11/03/2015

# Indenizatórias - top 10

In [21]:
df_ufc.sort_values(u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)', ascending=False)[[u'VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)', u'DESCRICAO_CARGO', u'NOME_x', u'DATA_INGRESSO_ORGAO']].head(10)

,VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),DESCRICAO_CARGO,NOME_x,DATA_INGRESSO_ORGAO
4371,17864.62,PROFESSOR DO MAGISTERIO SUPERIOR,FABIANO SEIXAS FERNANDES,15/03/2010
2481,14621.98,PROFESSOR DO MAGISTERIO SUPERIOR,RENATA AQUINO RIBEIRO,19/03/2015
1480,13029.09,PROFESSOR 3 GRAU - VISITANTE,ALEKSANDR SIVATCKII,22/08/2012
306,12959.25,PROFESSOR DO MAGISTERIO SUPERIOR,LUCIANO MARI,18/03/2014
6356,12703.15,PROFESSOR 3 GRAU - VISITANTE,RAUL CRUZ IZQUIERDO,24/08/2012
2162,7356.99,PROFESSOR DO MAGISTERIO SUPERIOR,MICHEL MASCARENHAS SILVA,19/08/2011
2161,7356.99,NaN,MICHEL MASCARENHAS SILVA,19/08/2011
6294,5354.38,PROFESSOR DO MAGISTERIO SUPERIOR,ALEXANDRE BRAGA LIBORIO,26/09/2012
1158,5029.68,PROFESSOR MAGISTERIO SUPERIOR-SUBSTITUTO,KARLA KALINE FERREIRA LOPES,12/01/2015
1172,4319.74,PROFESSOR DO MAGISTERIO SUPERIOR,PRISCILLA BRANDAO SILVA,15/10/2015

In [ ]:
df_ufc.loc[df_ufc.SIGLA_FUNCAO.isnull(), ['SIGLA_FUNCAO']] = 'SEM_FUNCAO'

In [ ]:
df_ufc['FUNCAO'] = df_ufc.apply(lambda r: '%s:%s' % (r.SIGLA_FUNCAO, r.NIVEL_FUNCAO), axis=1)

In [83]:
gb_funcao = df_ufc.groupby(['UORG_LOTACAO', 'FUNCAO']).size()

In [84]:
tabelao = gb_funcao.unstack().fillna(0)

In [67]:
# remove dos SEM_FUNCAO os que ja tem função -> ocorre que a base informa um registro por vínculo do servidor
# quem tem função, aparece 2 vezes, uma na função e outra na SEM_FUNCAO
tabelao.loc[:, 'SEM_FUNCAO:nan'] = tabelao['SEM_FUNCAO:nan'] - tabelao.loc[:, tabelao.columns[:-1]].sum(axis=1)

In [86]:
tabelao['Distribuicao Geral'] = tabelao.loc[:, tabelao.columns[:-1]].sum(axis=1) / tabelao

In [ ]:
tabelao['QTD FG/CD'] = tabelao.loc[:, tabelao.columns[:-1]].sum(axis=1)

In [87]:
cols = tabelao.columns.tolist()

In [88]:
cols = cols[-2:] + cols[:-2]

In [89]:
tabelao.sort_values('Distribuicao Geral', ascending=False)[cols].to_csv('olhae_leonanrdo.csv')