In [1]:
import pandas as pd
%matplotlib inline
pd.options.display.max_columns = None
import codecs

In [2]:
def remove_null(filename):
    
    out_filename = 'out_' + filename
    
    f_in = codecs.open(filename, encoding='iso-8859-1')
    f_out = codecs.open('out_' + filename, encoding='iso-8859-1', mode='w')
    for line in f_in.readlines():
        line_w_null = line.replace(u'\x00', '')
        f_out.write(line_w_null)
    f_in.close()
    f_out.close()
    
    return out_filename

In [4]:
viagens_filename = "201601_Diarias.csv"

In [5]:
out_viagens_filename = remove_null(viagens_filename)

In [14]:
viagens = pd.read_csv(out_viagens_filename, sep='\t', encoding='iso-8859-1', decimal=',')
viagens_ufc = viagens[viagens[u'Nome Órgão Subordinado'] == u'UNIVERSIDADE FEDERAL DO CEARA']
del viagens

In [18]:
viagens_ufc.columns

Index([   u'Código Órgão Superior',      u'Nome Órgão Superior',
       u'Código Órgão Subordinado',   u'Nome Órgão Subordinado',
         u'Código Unidade Gestora',     u'Nome Unidade Gestora',
                  u'Código Função',              u'Nome Função',
               u'Código Subfunção',            u'Nome Subunção',
                u'Código Programa',            u'Nome Programa',
                    u'Código Ação',                u'Nome Ação',
               u'Linguagem Cidadã',           u'CPF Favorecido',
                u'Nome Favorecido',      u'Documento Pagamento',
               u'Gestão Pagamento',           u'Data Pagamento',
                u'Valor Pagamento'],
      dtype='object')

In [20]:
viagens_ufc.sort(u'Valor Pagamento', ascending=False)[[u'Valor Pagamento', u'Nome Favorecido', u'Documento Pagamento']].head(20)

,Valor Pagamento,Nome Favorecido,Documento Pagamento
5029,1064.10,ANTONIO FRANCISCO GOMES FURTADO FILHO,2016OB800918
5027,1064.10,ANTONIA FABIANA MARQUES ALMEIDA,2016OB800917
5002,1064.10,LUISA GARDENIA ALVES TOME FARIAS,2016OB800894
5031,1046.40,MARIA CRISTINA DE FIGUEIREDO MONTEIRO,2016OB800926
5018,1046.40,MARIA VALDECI COSME DE LACERDA SOUZA,2016OB800927
5016,1046.40,FRANCISCA LIVIA DE OLIVEIRA MACHADO,2016OB800920
5015,1019.65,AMARILDO MAIA ROLIM FILHO,2016OB800916
5026,872.52,RENNAN FERREIRA DANTAS,2016OB800899
5032,680.94,PABLO LUIZ BRAGA SOARES,2016OB800898
5024,660.12,GIANNINI ITALINO ALVES VIEIRA,2016OB800923
5004,568.65,CATIA LUZIA OLIVEIRA DA SILVA,2016OB800945
5017,557.04,ANDREA PINHEIRO PAIVA CAVALCANTE,2016OB800944
5013,380.04,FRANCISCO BARBOSA DE LIMA,2016OB800921
4999,380.04,ARLINDO MOREIRA BARRETO,2016OB801041
5001,339.06,ANDREIA LIBORIO SAMPAIO,2016OB800889
4996,339.06,FRANCISCO KENNEDY MOREIRA VASCONCELOS,2016OB800993
5010,276.96,ALINE PINHO MENEZES,2016OB800888
5007,275.61,BERNADETE DE SOUZA PORTO,2016OB800919
5023,275.61,MARIA ELIAS SOARES,2016OB800897
5022,275.61,MARIA ELIAS SOARES,2016OB800896